@import url("fonts/fonts.css");
button, input, textarea {
  color: white; }

button {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 6px;
  min-width: 35px;
  height: 35px;
  transition: all .15s ease-in-out;
  margin: 6px; }
  button:hover {
    background: rgba(255, 255, 255, 0.3); }

input, textarea {
  flex-grow: 1;
  display: block;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  border-radius: 6px;
  padding: 6px;
  height: 23px; }

input[type=checkbox] {
  flex-grow: 0;
  margin-left: auto;
  height: 23px;
  width: 23px; }

body, html {
  font-family: NotoEmoji, "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #21222c;
  color: white; }

body {
  min-height: 100vh; }

#settings {
  background: black;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 6px;
  z-index: 999;
  display: none;
  position: absolute;
  top: 50px;
  right: 10px;
  max-height: 60vh;
  width: 400px;
  overflow: auto;
  flex-direction: column; }
  #settings, #settings a {
    color: white; }
  #settings hr {
    margin: 12px; }
  #settings > div > span {
    width: 60%; }
  #settings #bgColorInput, #settings #fgColorInput {
    height: 35px; }
  #settings > div, #settings > h1, #settings > h2, #settings > h3, #settings > h4, #settings > h5, #settings > h6, #settings > p, #settings > ul {
    padding: 12px;
    margin: 0; }
  #settings > div {
    display: flex;
    flex-direction: row;
    align-items: center; }
  #settings ul {
    flex-grow: 1;
    margin: 0; }
    #settings ul li {
      display: flex;
      flex-direction: row;
      align-items: center;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #settings ul li:last-child {
        border-bottom: none; }
      #settings ul li span {
        flex-grow: 1; }
      #settings ul li::before {
        content: '';
        padding-left: 6px; }
  #settings #speed-dial-folders li {
    cursor: move; }
  #settings #speed-dial-folders.dragging li.dragover {
    border-bottom: 1px solid white; }
  #settings.open {
    display: flex; }

header {
  display: flex;
  flex-direction: row; }
  header::before {
    content: '';
    flex-grow: 1; }
  header button {
    opacity: .4;
    display: block;
    font-size: 30px;
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0);
    margin: 6px;
    padding: 3px;
    transition: all .15s ease-in-out;
    cursor: pointer; }
    header button:hover {
      background-color: rgba(255, 255, 255, 0.3);
      opacity: 1; }
    header button > * {
      display: block;
      margin: auto; }

#main {
  padding-top: 50px; }
  #main details {
    max-width: 1200px;
    padding: 10px;
    margin: auto; }
    #main details summary {
      margin: 0 10px;
      cursor: pointer; }
  #main .grid {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
    list-style-type: none; }
    #main .grid a {
      color: inherit;
      text-decoration: none;
      position: relative;
      background-color: #282a36dd;
      text-align: center;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 158px;
      margin: 1.2em 20px;
      margin-bottom: 35px;
      border-radius: 15px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      transition: all .15s ease-in-out;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 6px;
      transform: scale(1); }
      #main .grid a.dragging {
        opacity: .1; }
      #main .grid a:hover, #main .grid a:focus {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
        transform: scale(1.05); }
      #main .grid a img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: 32px;
        min-width: 32px;
        max-height: 158px;
        width: 96px;
        height: 96px; }
      #main .grid a span, #main .grid a::after {
        position: relative;
        top: 100px;
        margin-top: 1em;
        border-radius: 6px;
        padding: 2px 6px;
        background-color: rgba(0, 0, 0, 0.5);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }

#contextMenu {
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer; }
  #contextMenu #innerMenu {
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    color: white; }
    #contextMenu #innerMenu ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 5px 0;
      padding: 0;
      gap: 2px; }
      #contextMenu #innerMenu ul li a {
        color: currentColor;
        text-decoration: none;
        display: block;
        border-radius: 4px;
        padding: 5px;
        margin: 0 5px; }
        #contextMenu #innerMenu ul li a:hover {
          background-color: rgba(0, 0, 0, 0.3); }

.twoBtnBox {
  display: grid;
  grid-template-columns: 1fr 1fr; }

#editBookmarkModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  justify-content: center; }
  #editBookmarkModal > div {
    background: black;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    height: min-content;
    padding: 12px;
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px; }
    #editBookmarkModal > div .hbox {
      gap: 15px; }

.hidden {
  display: none !important; }
