@import url('fonts/fonts.css');

$settings_margin: 1px solid rgba(255, 255, 255, .1);
$card_radius: 15px;
$card_shadow: 0 0 5px rgba(0, 0, 0, .3);
$favicon_size: 32px;
$btn_radius: 6px;
$btn_bg: rgba(255, 255, 255, .15);
$btn_bg_hover: rgba(255, 255, 255, .3);
$btn_size: 35px;

button, input, textarea {
    color: white;
}

button {
    cursor: pointer;
    background: $btn_bg;
    border: none;
    border-radius: $btn_radius;
    min-width: 35px;
    height: 35px;
    transition: all .15s ease-in-out;
    margin: 6px;
    &:hover {
        background: $btn_bg_hover;
    }
}

input, textarea {
    flex-grow: 1;
    display: block;
    background: $btn_bg;
    border: none;
    border-radius: $btn_radius;
    padding: 6px;
    height: #{$btn_size - (6px * 2)};
}
input[type=checkbox] {
    flex-grow: 0;
    margin-left: auto;
    height: #{$btn_size - (6px * 2)};
    width: #{$btn_size - (6px * 2)};
}

body, html {
    font-family: NotoEmoji, "Red Hat Display", sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #21222c;
    color: white;
}

body {
    min-height: 100vh;
}

@mixin modal {
  background: black;
  border-radius: $card_radius;
  box-shadow: $card_shadow;
}

#settings {
    &, a {
        color: white;
    }
    @include modal;
    padding: 6px;
    z-index: 999;
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    max-height: 60vh;
    width: 400px;
    overflow: auto;
    flex-direction: column;
    hr {
        margin: 12px;
    }

    > div > span {
        width: 60%;
    }

    #bgColorInput, #fgColorInput {
        height: $btn_size;
    }

    > div, > h1, > h2, > h3, > h4, > h5, > h6, > p, > ul {
        padding: 12px;
        margin: 0;
    }
    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    ul {
        flex-grow: 1;
        margin: 0;
        li {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-bottom: $settings_margin;
            &:last-child {
                border-bottom: none;
            }
            span {
                flex-grow: 1;
            }
            &::before {
                // nbsp
                content: '';
                padding-left: 6px;
            }
        }
    }
    #speed-dial-folders {
        li {
            cursor: move;
        }
        &.dragging {
            li {
                &.dragover {
                    border-bottom: 1px solid white;
                }
            }
        }
    }
    &.open {
        display: flex;
    }
}

header {
    display: flex;
    flex-direction: row;
    &::before {
        content: '';
        flex-grow: 1;
    }
    button {
        opacity: .4;
        display: block;
        font-size: 30px;
        width: 35px;
        height: 35px;
        background: none;
        border: none;
        border-radius: $btn_radius;
        background-color: rgba(255, 255, 255, 0);
        margin: 6px;
        padding: 3px;
        transition: all .15s ease-in-out;
        cursor: pointer;
        &:hover {
            background-color: $btn_bg_hover;
            opacity: 1;
        }
        > * {
            display: block;
            margin: auto;
        }
    }
}

#main {
    padding-top: 50px;
    details {
      max-width: 1200px;
      padding: 10px;
      margin: auto;
      summary {
        margin: 0 10px;
        cursor: pointer;
      }
    }
    .grid {
        font-size: 1.2em;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
        list-style-type: none;
        a {
            color: inherit;
            text-decoration: none;
            position: relative;
            background-color: #282a36dd;
            text-align: center;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 158px;
            margin: 1.2em 20px;
            margin-bottom: 35px;
            border-radius: $card_radius;
            box-shadow: $card_shadow;
            transition: all .15s ease-in-out;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 6px;
            transform: scale(1);
            &.dragging {
              opacity: .1;
            }
            &:hover, &:focus {
                box-shadow: 0 0 15px rgba(0, 0, 0, .4);
                transform: scale(1.05);
            }
            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                // margin-right: 6px;
                min-height: $favicon_size;
                min-width:  $favicon_size;
                max-height: 158px;
                width: 96px; height: 96px;
            }
            span, &::after {
                position: relative;
                top: 100px;
                margin-top: 1em;
                border-radius: $btn_radius;
                padding: 2px 6px;
                background-color: rgba(0, 0, 0, .5);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

#contextMenu {
  position: fixed;
  z-index: 99999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  cursor: pointer;
  #innerMenu {
    position: fixed;
    z-index: 9999999;
    left: 0;
    top: 0;
    border-radius: $btn_radius;
    background-color: rgba(0,0,0,.7);
    box-shadow: $card_shadow;
    color: white;
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      margin: 5px 0;
      padding: 0;
      gap: 2px;
      li {
        a {
          color: currentColor;
          text-decoration: none;
          display: block;
          border-radius: $btn_radius - 2px;
          padding: 5px;
          margin: 0 5px;
          &:hover {
            background-color: rgba(0,0,0, .3);
          }
        }
      }
    }
  }
}

.twoBtnBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#editBookmarkModal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,.7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  > div {
    @include modal;
    height: min-content;
    padding: 12px;
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    .hbox {
      gap: 15px;
    }
  }
}

.hidden {
  display: none !important;
}
